/* Handles base styles and layout */

@import "compass/css3";

/*** Base styles ***/
html {
    font-size: 13px;
    line-height: 1.5em;
    @media only screen and (min-width: $w-narrow) {
        font-size: 14px;
    }
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: $grey;
    
    background: $light-green3 image-url("BG_repeat.png") repeat-x;
}

a {
    color: $green;
}

.mailto {
    color: $orange;
}

.tel-link,
.fax-link {
    color: inherit;
    text-decoration: none;
}

/*** Layout rules ***/

// border box all the things!
* {
    @include box-sizing(border-box);
}


// TODO: move lots of these layout rules into _layout.scss
.container {
    // keeps everything but header in a fixed width container
    width: $w-mobile;
    @media only screen and (min-width: $w-narrow) {
        width: $w-narrow;
    }

    margin: 0 auto;
}

.container-bordered {
    @extend .container;

    border-left: 2px solid white;
    border-right: 2px solid white;
    @include box-sizing(content-box);    // don't want container width to include borders
}

#main-content {
    background-color: white;
    border-top: 2px solid white;
    padding: 0 8px;

    width: 100%;    // mobile default
    @media only screen and (min-width: $w-narrow) {
        width: $w-narrow-main;
        padding: 0 16px;
    }

    float: left;
}

.grid-row {
    width: 100%;

    @extend .clearfix;

    .col-first {
        margin: 0 0 16px 0;
        width: 100%;
        float: left;

        @media only screen and (min-width: $w-narrow) {
            // total width is 310px
            // TODO: make some sass vbls
            width: 298px;
            margin-right: 12px;
        }
    }

    .col-last {
        margin: 0 0 16px 0;
        width: 100%;
        float: left;

        @media only screen and (min-width: $w-narrow) {
            // total width is 310px
            // TODO: make some sass vbls
            width: 298px;
            margin-left: 12px;
        }
    }
}

/*** Page aside ***/
#main-aside {
    float: left;
    @media only screen and (min-width: $w-narrow) {
        width: $w-narrow-sidebar;
        border-top: 2px solid white;
        border-left: 2px solid white;
    }
}


#page-footer {
    padding-bottom: 1em;
    @media only screen and (min-width: $w-narrow) {
        background-color: white;
    }
}

.main-column {
    float: left;
    display: inline;
    @media only screen and (min-width: $w-narrow) {
    }
}