/* 
 * common.scss
 * 
 * Mostly header and footer styles
 */

@import "constants.scss";
@import "compass/css3";

/*********************
 * Header styles 
 *********************/
.logo {
    width: $w-mobile;
    left: 0;

    @media only screen and (min-width: $w-narrow) {
        // vertically center the logo in the header
        height: $logo-height;
        margin-top: -$logo-height/2;
        position: absolute;
        top: 50%;
        width: auto;
    }
}

.tagline {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    color: rgba(255,255,255,0.33);
    float: right;
    line-height: 0.9em;
    font-size: 14px;
    margin: 0;

    @media only screen and (min-width: $w-narrow) {
        margin: 6px 0;
        font-size: 36px;
    }
    @media only screen and (min-width: $w-standard) {
        margin: 0;
        font-size: 42px;
    }
}

// tagline shows in header for all non-mobile styles 
.page-header .tagline {
    display: none;
    @media only screen and (min-width: $w-narrow) {
        display: inherit;
    }
}

// tagline shows on top of primary header image on mobile
.primary-header .tagline {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    @media only screen and (min-width: $w-narrow) {
        display: none;
    }
}

// clickable "Full menu" anchor link
.site-nav-shortcut {
    position: absolute;
    top: 4px;

    // inflate clickable area of button so logo link doesn't dominate
    z-index: 999;
    display: block;
    width: 100px;
    height: 44px;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

    @media only screen and (min-width: $w-narrow) {
        display: none;
    }
}

/*******************************
 * Primary column header styles
 *******************************/
// this actually lives outside the column structure so it can overflow to the left
.page-heading {
    color: black;
    font-weight: normal;
    font-size: 1.5em;

    background-color: $yellow;
    @include single-box-shadow;


    position: absolute;
    top: $primary-header-image-height-mobile;
    z-index: 9999;
    margin-top: -10px;  // makes heading overlap over primary header image

    padding: 4px 8px;

    @media only screen and (min-width: $w-narrow) {
        top: $primary-header-image-height-nonmobile;
        margin-left: -0.5em;
    }

    @media only screen and (min-width: $w-standard) {
        margin-left: -1em;
    }
}

// special formatting when page heading is on the homepage
.home-heading {
    display: block;
    font-size: 13px;
    width: $w-mobile;
    @media only screen and (min-width: $w-narrow) {
        width: 420px;
    }
}

/*********************
 * Footer styles
 *********************/
.page-footer {
    background-color: $green;
    color: white;
    padding: 12px 0;

    p {
        margin: 0;
        text-align: center;
        font-size: 12px;
    }

    @media only screen and (min-width: $w-narrow) {
        background-color: inherit;
        color: $grey;
    }
}

