@import "compass/css3";


/* Header footer */
#page-header {
    // background-image is dynamically injected inline on element
    border-bottom: 2px solid white;
    @include box-sizing(content-box);
}

.site-nav-shortcut {
    position: absolute;
    top: 4px;

    // inflate clickable area of button so logo link doesn't dominate
    z-index: 999;
    display: block;
    width: 100px;
    height: 44px;

    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

    @media only screen and (min-width: $w-narrow) {
        display: none;
    }
}

.logo {
    max-width: 100%;    // keep inside parent container
    width: 320px;   // TODO: placeholder
    
    @media only screen and (min-width: $w-narrow) {
        margin-top: 8px;
    }
    @media only screen and (min-width: $w-standard) {
        width: auto;
    }
}

/* Page footer */
#page-footer {
    background-color: $green;
    padding-top: 12px;
    p {
        margin: 0;
        text-align: center;
        font-size: 12px;
        color: white;
    }

    @media only screen and (min-width: $w-narrow) {
        background-color: white;
        p {
            color: $grey;
        }
    }
}

/* Main site nav */

#site-nav {
    // padding used in here is ad hoc based on 320px width. revisit when finalizing mobile container width
    background-color: $green;
    padding: 20px 0 8px 14px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        margin: 0 $nav-button-padding 6px 0;
    }

    @media only screen and (min-width: $w-narrow) {
        padding-left: 10px;     // TODO: lots of issues with centering. this is just another
    }
}

// only show the home nav button on mobile devices
.nav-btn-home {
    @media only screen and (min-width: $w-narrow) {
        display: none;
    }
}

.content-heading {    
    background-color: $yellow;
    @include single-box-shadow;

    color: black;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.content-home .content-heading {
    font-size: 0.9em;    
}

.subnav {
    font-size: 1em;
    margin-bottom: 1em;

    text-align: center;
    @media only screen and (min-width: $w-narrow) {
        text-align: left;
    }

    @media only screen and (min-width: $w-wide) {
        position: absolute;
        top: 1.5em;
        right: 0;
        text-align: right;
    }
}


.widget-sidebar {
    padding: 16px 12px;
    border-top: 2px solid white;

    > h2 {
        margin-top: 0;
    }
}

.widget-first {
    background-color: $light-green1;
}

.widget-second {
    background-color: $light-green2;
}


// Occurs in both home page upcoming events and sidebar widget
.upcoming-event {
    // TODO: reconsider selectors after finalizing markup for event items
    p {
        margin: 0;
    }
    a {
        font-weight: bold;
        color: $grey;
    }
    margin-bottom: 1em;
}

.upcoming-event:last-of-type {
    margin-bottom: 0;
}

.tagline {
    text-align: right;
    text-transform: uppercase;
    color: white;
    color: rgba(255,255,255,0.33);
    float: right;
    line-height: 0.9em;
    margin: 0;

    display: none;  // home page will include tag line with mobile
    @media only screen and (min-width: $w-narrow) {
        margin: 6px 0;
        font-size: 36px;
        // applies to all sizes here and larger
        display: inherit;
    }
    @media only screen and (min-width: $w-standard) {
        margin: 0;
        font-size: 42px;
    }
}
