/*
 * home.scss
 *
 * Styles related to any primary content on the homepage
 */

@import "constants.scss";
@import "compass/css3";

// quick links subnav
.quick-links {
    @media only screen and (min-width: $w-wide) {
        position: absolute;
        top: -1.25em;
        right: 1em;
        text-align: right;
    }
}

.quick-find-label {
    margin: 0;
    font-weight: bold;

    display: none;
    @media only screen and (min-width: $w-narrow) {
        display: inherit;
        display: inline;
    }
}


// next few styles set up simple grid for homepage sections

.home-inner-grid {
    width: 100%;
}

.home-inner-row {
    width: 100%;
    @extend .clearfix;
}

.home-inner-col {
    float: left;
    width: 100%;    // mobile-first: column is whole row

    // column vertical margin acts as row margin for mobile size
    margin: 1.5em inherit;

    @media only screen and (min-width: $w-narrow) {
        width: 47.5%;
    }
}

@media only screen and (min-width: $w-narrow) {
    .home-inner-col-1 {
        margin-right: 2.5%;
    }

    .home-inner-col-2 {
        margin-left: 2.5%
    }
}

.home-section > h2 {
    text-transform: uppercase;
}

// interactive map section
.home-section-map {

}

.interactive-map-img {
    width: 100%;
}

// app section
.app-phone-img {
    float: right;
    margin: 0 0 0.5em 1em;
}

.app-links {
    text-align: center;
    > a {
        display: inline;
        margin-right: 4px;
    }

    clear: right;
    @media only screen and (min-width: $w-wide) {
        clear: none;
    }
}

.home-section-events {
    background-color: $light-green3;
    display: none;
    @media only screen and (min-width: $w-narrow)
                       and (max-width: ($w-standard - 1)) {
        display: inherit;
    }
    // bottom paragraph adds enough bottom padding
    padding: 1em 1em 0 1em;

    > h2 {
        text-transform: none;
    }
}

.vimeo-frame {
    width: 100%;

    // match the height of the interactive map thumbnail at different sizes
    @media only screen and (min-width: $w-narrow) {
        height: 148px;
    }
    @media only screen and (min-width: $w-standard) {
        height: 171px;
    }
    @media only screen and (min-width: $w-wide) {
        height: 229px;
    }
}

// green stats section

// set the basic properties of the background image and overlay text
.home-section-green {
    padding-top: 2em;
    background: image-url('/img/recycling_bg_290.png') no-repeat center;
    min-height: 148px;  // height of the background image

    text-align: center;
    // custom font-related styles to acheive standout look to text
    p {
        margin: 0 0 10px 0;
        line-height: 1.2em;
        font-size: 20px;

        > strong {
            display: block; // surround emphasized line with newlines
            font-size: 24px;
        }
    }

    a {
        font-size: 11px;
    }
}

// need to use a different background image for standard widths
@media only screen and (min-width: $w-standard) {
    .home-section-green {
        background: image-url('/img/recycling_bg_320.png') no-repeat center;
        min-height: 163px;  // height of the background image
    }
}

// larger image and text for the widest breakpoint
@media only screen and (min-width: $w-wide) {
    .home-section-green {
        background: image-url('/img/recycling_bg_450.png') no-repeat center;
        min-height: 230px;  // height of the background image
        padding-top: 3em;

        p {
            font-size: 30px;
            > strong {
                font-size: 42px;
            }
        }
    }
}
