@import "compass/css3";

.expanded-content {
    // cancel the #main-content padding
    margin-left: -1 * $w-mobile-main-padding;

    @media only screen and (min-width: $w-narrow) {
        margin-left: -1 * $w-narrow-main-padding;
    }
    position: relative; // for positioning the tagline text
}

// TODO: decide on responsive image scheme and adjust accordingly
.standout-img {
    width: $w-mobile;   // TODO: This *should* be 100% and cropping. percent will scale. revisit after image stuff
    height: 148px;
    @media only screen and (min-width: $w-narrow) {
        width: $w-narrow-main;
        height: 220px;
    }
    @media only screen and (min-width: $w-standard) {
        width: $w-standard-main;
        height: 220px;
    }
    @media only screen and (min-width: $w-wide) {
        width: $w-wide-main;
        height: 220px;
    }
}

.tagline-home {
    display: inherit;
    position: absolute;
    top: 8px;
    left: 8px;
    text-align: left;
    @media only screen and (min-width: $w-narrow) {
        display: none;
    }
}

.standout-text {
    position: relative;
    z-index: 2;  // overlay on top of standout-image
    margin: -1em -15px 0 -15px;
    padding: 4px 10px;
    
    background-color: $yellow;
    @include single-box-shadow;

    color: black;
    font-size: 0.85em;

    @media only screen and (min-width: $w-narrow) {
        width: 420px;       // this width is used for all non-mobile sizes
        font-size: 0.9em;
    }
}

.quick-links {
    font-size: 14px;
    margin: 10px 0 12px 0;

    text-align: center;
    @media only screen and (min-width: $w-narrow) {
        text-align: left;
        margin-top: 14px;
    }

    @media only screen and (min-width: $w-wide) {
        text-align: right;
        margin: -20px 0 20px 0; // move the quick links up into the standout-text box
    }
}

.quick-find-label {
    margin: 0;
    font-weight: bold;

    display: none;
    @media only screen and (min-width: $w-narrow) {
        display: inline;
        margin-right: 0.5em;
    }
}

/*** Highlight sections ***/

.highlight {
    margin-bottom: 16px;
    @media only screen and (min-width: $w-narrow) {
        margin-bottom: 2 * $main-col-margin;    // match grid column spacing
    }
}

.highlight h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.highlight-map {
    > img {
        // TODO: totally ad-hoc. replace with cropped, width-specific sizes
        width: 100%;
        height: 275px;
    }
}

.app-phone-img {
    float: right;
    margin: 4px 0 4px 8px;
}

.app-links {
    display: inline-block;
    // TODO: why isn't margin auto centering?
    margin-top: 4px;
    img {
        margin: 2px;
    }
}

.highlight-video {
    // TODO: fix width of vimeo image -- if even an image?
    overflow: hidden;
}
.more-videos-link {
    margin-top: 0.5em;
    float: right;
}

.highlight-fact {
    // TODO: background sizes
    min-height: 157px;
    background: image-url('placeholders/recycling_bg_300.png') no-repeat;
    padding: 30px;

    p {
        margin: 0 0 10px 0;
        line-height: 1.2em;
        font-size: 20px;
        
        > strong {
            display: block; // surround emphasized line with newlines
            font-size: 30px;
        }
    }

    a {
        font-size: 11px;
    }
}

.upcoming-events-home {
    display: none;
    padding: 16px;
    background-color: $light-green3;
    margin-bottom: 2 * $main-col-margin;    // match grid column spacing

    @media only screen and (min-width: $w-narrow) {
        display: inherit;
    }

    // TODO: combine mobile and over narrow MQs
    @media only screen and (min-width: $w-standard) {
        display: none;
    }

}
