// precalculated pixel widths for site sections
$main-col-margin: 12px;

$w-narrow-sidebar: 91px + (2 * 12px);
$w-narrow-main: $w-narrow - $w-narrow-sidebar;
$w-narrow-main-column: (($w-narrow-main - (2 * $w-narrow-main-padding)) / 2) - $main-col-margin;

$w-standard-sidebar: (2 * 91px) + (2 * 12px) + $nav-button-padding;
$w-standard-main: $w-standard - $w-standard-sidebar;
$w-standard-main-column: (($w-standard-main - (2 * $w-standard-main-padding)) / 2) - $main-col-margin;

$w-wide-sidebar: $w-standard-sidebar;
$w-wide-main: $w-wide - $w-wide-sidebar;
$w-wide-main-column: (($w-wide-main - (2 * $w-wide-main-padding)) / 2) - $main-col-margin;



// border box all the things!
* {
    @include box-sizing(border-box);
}

.site-container {
    // keeps everything but header in a fixed width container
    width: $w-mobile;
    @media only screen and (min-width: $w-narrow) {
        width: $w-narrow;
    }
    @media only screen and (min-width: $w-standard) {
        width: $w-standard;
    }
    @media only screen and (min-width: $w-wide) {
        width: $w-wide;
    }

    margin: 0 auto;
}

#main-content-container {
    float: left;
    padding: 0 $w-mobile-main-padding;

    width: 100%;
    @media only screen and (min-width: $w-narrow) {
        width: $w-narrow-main;
        padding: 0 $w-narrow-main-padding;
    }
    @media only screen and (min-width: $w-standard) {
        width: $w-standard-main;
        padding: 0 $w-standard-main-padding;
    }
    @media only screen and (min-width: $w-wide) {
        width: $w-wide-main;
        padding: 0 $w-wide-main-padding;
    }
}

#main-aside {
    float: left;
    @media only screen and (min-width: $w-narrow) {
        width: $w-narrow-sidebar;
        
        // applied to all non-mobile sizes
        border-left: 2px solid white;
    }
    @media only screen and (min-width: $w-standard) {
        width: $w-standard-sidebar;
    }
    // no need for wide setting: same width as standard
}

#main-content {
    // scoot all of the content up so heading goes overtop of image
    margin-top: -24px;
}

.content-heading {
    position: relative;
    z-index: 2;  // overlay on top of standout-image
    
    display: inline-block;

    margin-top: 0;
    padding: 4px 8px;
    
    margin-left: -$w-mobile-main-padding;

    @media only screen and (min-width: $w-narrow) {
        margin-left: -$w-narrow-main-padding;
    }

    @media only screen and (min-width: $w-standard) {
        margin-left: -($w-standard-main-padding + 12px);
    }
}

// width of standout heading text needs to be fixed on home page
.content-home .content-heading {
    width: $w-mobile;
    @media only screen and (min-width: $w-narrow) {
        width: 420px;
    }
}

#page-footer {
    padding-bottom: 1em;
}

// grid within #main-content-container
.content-grid-row {
    width: 100%;

    @extend .clearfix;

    .col {
        width: 100%;
        float: left;

        @media only screen and (min-width: $w-narrow) {
            width: $w-narrow-main-column;
            margin-right: $main-col-margin; // margin is used by all non-mobile sizes
        }

        @media only screen and (min-width: $w-standard) {
            width: $w-standard-main-column;
        }

        @media only screen and (min-width: $w-wide) {
            width: $w-wide-main-column;
        }
    }
}

.bordered {
    @include box-sizing(content-box);
    border-left: 2px solid white;
    border-right: 2px solid white;
}

