/*
 * primary_content.scss
 *
 * Styles for the layout and design of the main content column on each page
 */

.page-heading {
    color: black;
    font-weight: normal;
    font-size: 1.5em;

    background-color: $yellow;
    @include single-box-shadow;

    padding: 4px 8px;
}

// this version of the heading actually lives outside the column structure so
// it can overflow to the left
.page-heading-outflow {
    // positioning to make heading overlap over primary header image
    position: absolute;
    top: $primary-header-image-height-mobile;
    z-index: 9999;
    margin-top: -10px;

    @media only screen and (min-width: $w-narrow) {
        top: $primary-header-image-height-nonmobile;
        margin-left: -0.25em;
    }

    @media only screen and (min-width: $w-standard) {
        margin-left: -0.75em;
    }
}

// don't show the outflow version on IE < 8 due to absolute positioning problems
.lt-ie8 .page-heading-outflow {
    display: none !important;
}

// inflow version of the heading should only show up on IE
.page-heading-inflow {
    display: none !important;
}
.lt-ie8 .page-heading-inflow {
    display: block !important;
}

// special formatting when page heading is on the homepage
.page-home .page-heading {
    display: block;
    font-size: 13px;
    width: $w-mobile;
    @media only screen and (min-width: $w-narrow) {
        width: 420px;
    }
}

// absolutely position the tagline within the primary column header
.primary-header {
    position: relative;
    @media only screen and (min-width: $w-narrow) {
        border-left: 2px solid white;
    }

    > .tagline-home {
        top: 0;
        position: absolute;
    }

    // fix the image heights to avoid content jumping before image loads
    img {
        height: $primary-header-image-height-mobile;
        @media only screen and (min-width: $w-narrow) {
            height: $primary-header-image-height-nonmobile;
        }
    }
}

// scoot primary content down to leave room for absolutely positioned page heading
.primary-content {
    padding: 1em 1em;
    position: relative;     // anchor for subnav's absolute positioning

    @media only screen and (min-width: $w-narrow) {
        padding: 1em 1.67em;
    }
}

.primary-content-home {
    margin-top: 46px;   // enough space to push content below 3-line heading for mobile

    @media only screen and (min-width: $w-narrow) {
        margin-top: 32px;   // enough space to push content below 2-line heading for non-mobile
    }
}

.primary-content-subpage {
    margin-top: 28px;   // heading is smaller on subpages, don't need to push down as much
    @media only screen and (min-width: $w-narrow) {
        font-size: 15px;
        line-height: 1.5em;
    }

    @media only screen and (min-width: $w-standard) {
        font-size: 16px;
        padding: 1.25em 3em;
    }
}

// subnav is at the top of primary content for home and building pages
.subnav {
    .current {
        text-decoration: none;
        color: inherit;
    }
}
