/*
 * constants.scss
 *
 * Constants for DLCC site
 */

$yellow: #f1e597;
$grey: #58585b;
$orange: #fbaf3f;

$green: #819578;
$light-green1: #bec8b9;
$light-green2: #d8ddd4;
$light-green3: #e6ebe4;
$light-green4: #f2f3ef;

// $nav-button-padding: 8px;

// $w-mobile-main-padding: 8px;
// $w-narrow-main-padding: 16px;
// $w-standard-main-padding: 16px;
// $w-wide-main-padding: 16px;

// Master content width breakpoints
$w-wide: 1200px;
$w-standard: 960px;
$w-narrow: 768px;
$w-mobile: 320px;

$nav-button-width: 87px;
$nav-button-height: 76px;
$nav-button-padding: 8px;

// used to calculate width of sidebar at different media widths
$nav-button-padding: 12px;

// image dimensions
$top-header-image-height: 133px;
$logo-height: 92px;
$primary-header-image-height-mobile: 148px;
$primary-header-image-height-nonmobile: 220px;

