.action-buttons {
	margin: 12px 0;
}

form {
	padding: 12px;
}

.btn-create {
	margin-bottom: 12px;
}

.footer {
	margin-top: 20px;
}

.gmap-canvas {
	height: 250px;
}

.gmap-caption, .geocoding-status {
	margin-top: 4px;
	margin-bottom: 4px;
}
